#home {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(
            180deg,
            rgb(56, 75, 82, 0.8) 8%,
            rgb(56, 75, 82, 1)
        ),
        url("/assets/home/homeBGimage.jpg");

    background-size: contain;
    background-repeat: none;
    overflow: hidden;

    & #topRight {
        position: absolute;
        top: -25%;
        right: -5%;
        height: 300px;
    }

    & #bottomLeft {
        position: absolute;
        bottom: -15%;
        left: -4%;
        height: 200px;
    }
    & #watermark {
        display: none;
    }
    &__text {
        position: relative;
        z-index: 1;
        text-align: center;
        & span {
            margin-left: 1.5vw;
        }

        & #topStreaks {
            position: absolute;
            top: -15%;
            right: 0%;
            z-index: 0;
        }
        & #bottomStreaks {
            position: absolute;
            bottom: -50%;
            left: 0%;
            z-index: 0;
        }
        &--link {
            position: absolute;
            bottom: 10px;
            right: 5vw;
            text-align: end;
            z-index: 1;
            &-top {
                width: 100%;
                & #rightArrow {
                    width: 30%;
                    margin: 0 5% 5% 0;
                }
                & a {
                    &:hover {
                    }
                }
            }
            & #underline {
                width: 20vw;
                max-width: 170px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    #home {
        &__text--link {
            bottom: 20px;
            right: 40px;
            & #rightArrow {
                width: 20%;
            }
            & #underline {
                height: 15px;
                width: 30vw;
                max-width: 140px;
            }
        }
    }
    #topStreaks,
    #bottomStreaks,
    #topRight,
    #bottomLeft {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #home {
        height: 60vh;
        padding: 0 5vw;
        & h1 {
            margin-top: 2vh;
        }
        & span {
            display: block;
        }
        &__text--link {
            bottom: 1vh;
            right: 3vw;
        }
        & #topRight,
        #bottomLeft {
            display: none;
        }
        & #watermark {
            display: flex;
            position: fixed;

            top: 10px;
            left: 10px;
            width: 25vw;
        }
    }
}

@media screen and (max-height: 750px) {
    #home #rightArrow {
        display: none;
    }
}
