#mobileNav {
    display: none;
}
@media screen and (max-width: 550px) {
    #mobileNav {
        display: flex;
        position: fixed;
        top: 2%;
        right: 5%;
        overflow: hidden;
    }
}
