body {
    font-family: $font-serenity;
    font-weight: $font-serenity-normal;
    font-size: 16px;
}
#home__text {
    & h1,
    & h2 {
        margin: auto;
        width: 90%;
        font-family: $font-proxima;
        font-weight: $font-proxima-bold;
        color: $color-black;
        text-shadow: -1px 1px 2px $color-light-blue,
            1px 1px 2px $color-light-blue, 1px -1px 0 $color-light-blue,
            -1px -1px 0 $color-light-blue;
    }
    & h1 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.5rem;
        -webkit-text-stroke: 1px $color-light-blue;
    }
    & h2 {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;

        -webkit-text-stroke: 0.1px $color-light-blue;
    }

    & h3 {
        color: $color-white;
        font-family: $font-serenity;
        font-size: clamp(1.5rem, 2vw, 2rem);
        width: 80%;
        letter-spacing: 0.2rem;
        margin: 1rem auto;
        text-shadow: 1px 2px 3px $color-blue;
    }
    &--link {
        & a {
            font-size: 1.5rem;
            color: $color-white;
            text-decoration: none;
            font-family: $font-proxima;
            font-weight: $font-proxima-bold;
            letter-spacing: 3px;
            transition: ease-in 0.3s;
            text-shadow: -1px 1px 2px $color-light-blue,
                1px 1px 2px $color-light-blue, 1px -1px 0 $color-light-blue,
                -1px -1px 0 $color-light-blue;
            &:hover {
                color: $color-black;
            }
        }
    }
}

#navbar {
    &__links {
        & a {
            font-family: $font-serenity;
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: -0.5px;
            text-decoration: none;
            color: $color-gray;
        }
    }
}

#sidebar {
    &__links {
        & a {
            font-size: 2.5vh;
            color: $color-white;
            &:hover {
                transition: all ease-in 0.2s;

                filter: drop-shadow(1px 1px 5px $color-light-blue);
            }
            & img {
                height: 2.5vh;
                &:hover {
                    transition: all ease-in 0.2s;
                    filter: drop-shadow(1px 1px 5px $color-light-blue);
                }
            }
        }
    }
}

#contact {
    color: $color-white;

    &__text {
        &--attention {
            & h2 {
                font-family: $font-proxima;
                font-weight: $font-proxima-bold;
                font-size: clamp(32px, 5vw, 60px);
                letter-spacing: -0.2rem;
                margin-bottom: 0.5rem;
            }
        }
        &--links {
            font-size: clamp(20px, 2vw, 24px);
        }
    }
    &__form {
        &--title {
            font-family: $font-serenity;
            font-weight: $font-serenity-bold;
            font-size: clamp(1rem, 2vw, 1.5rem);
            letter-spacing: 0.1rem;
            white-space: nowrap;
        }
        & form {
            caret-color: $color-white;
            & input {
                font-family: $font-serenity;
                font-size: 1rem;
                color: $color-white;
                &::placeholder {
                    color: $color-light-blue;
                }
            }
            & textarea {
                font-family: $font-serenity;
                font-size: 1rem;
                color: $color-white;
                &::placeholder {
                    color: $color-light-blue;
                }
            }
            & #formBtns input {
                font-size: clamp(12px, 1.5vw, 22px);
                font-family: $font-serenity;
                font-weight: $font-serenity-normal;
                color: $color-blue;
            }
        }
    }
    // Sweetalert popup
    .swal2 {
        &-popup h2 {
            color: $color-black;
        }
        &-popup button {
            font-family: $font-serenity;
            font-weight: $font-serenity-bold;
            background-color: $color-blue !important;
        }
    }
}

#footer {
    font-family: $font-serenity;
    font-weight: $font-serenity-bold;
    color: $color-black;
}

@media screen and (max-width: 920px) {
    #home {
        &__text--link a {
            font-size: clamp(1rem, 2vw, 1.4rem);
        }
    }
}

@media screen and (max-width: 550px) {
    #home {
        & h1 {
            font-size: 2rem;
        }
        & h2 {
            font-size: 1.5rem;
        }
        & h3 {
            font-size: 1.3rem;
        }
        & a {
            font-size: clamp(0.8rem, 2vw, 1.2rem);
        }
    }

    #mobileNav,
    #mobileNav a {
        color: $color-white;
        text-align: center;
        font-family: $font-serenity;
        font-weight: $font-serenity-bold;
        text-decoration: none;
    }
    .menuNav {
        & a {
            color: $color-white;
            font-size: 2rem;
            text-decoration: none;
            font-family: $font-serenity;
            font-weight: $font-serenity-bold;
            & li {
                margin: 1.5rem;
            }
        }
    }
    #contact {
        &__text {
            &--links {
                white-space: nowrap;
                font-size: clamp(1.3rem, 2vw, 1.6rem);
            }
        }
    }

    #footer {
        font-size: 3.5vw;
    }
}
