body {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#home__text h1, #home__text h2 {
  margin: auto;
  width: 90%;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  color: #12252b;
  text-shadow: -1px 1px 2px #a1dcf0, 1px 1px 2px #a1dcf0, 1px -1px 0 #a1dcf0, -1px -1px 0 #a1dcf0;
}
#home__text h1 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 1px #a1dcf0;
}
#home__text h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.1px #a1dcf0;
}
#home__text h3 {
  color: #efefef;
  font-family: serenity, sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
  width: 80%;
  letter-spacing: 0.2rem;
  margin: 1rem auto;
  text-shadow: 1px 2px 3px #7eaecd;
}
#home__text--link a {
  font-size: 1.5rem;
  color: #efefef;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  transition: ease-in 0.3s;
  text-shadow: -1px 1px 2px #a1dcf0, 1px 1px 2px #a1dcf0, 1px -1px 0 #a1dcf0, -1px -1px 0 #a1dcf0;
}
#home__text--link a:hover {
  color: #12252b;
}

#navbar__links a {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: #384b52;
}

#sidebar__links a {
  font-size: 2.5vh;
  color: #efefef;
}
#sidebar__links a:hover {
  transition: all ease-in 0.2s;
  filter: drop-shadow(1px 1px 5px #a1dcf0);
}
#sidebar__links a img {
  height: 2.5vh;
}
#sidebar__links a img:hover {
  transition: all ease-in 0.2s;
  filter: drop-shadow(1px 1px 5px #a1dcf0);
}

#contact {
  color: #efefef;
}
#contact__text--attention h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 60px);
  letter-spacing: -0.2rem;
  margin-bottom: 0.5rem;
}
#contact__text--links {
  font-size: clamp(20px, 2vw, 24px);
}
#contact__form--title {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
#contact__form form {
  caret-color: #efefef;
}
#contact__form form input {
  font-family: serenity, sans-serif;
  font-size: 1rem;
  color: #efefef;
}
#contact__form form input::placeholder {
  color: #a1dcf0;
}
#contact__form form textarea {
  font-family: serenity, sans-serif;
  font-size: 1rem;
  color: #efefef;
}
#contact__form form textarea::placeholder {
  color: #a1dcf0;
}
#contact__form form #formBtns input {
  font-size: clamp(12px, 1.5vw, 22px);
  font-family: serenity, sans-serif;
  font-weight: 300;
  color: #7eaecd;
}
#contact .swal2-popup h2 {
  color: #12252b;
}
#contact .swal2-popup button {
  font-family: serenity, sans-serif;
  font-weight: 700;
  background-color: #7eaecd !important;
}

#footer {
  font-family: serenity, sans-serif;
  font-weight: 700;
  color: #12252b;
}

@media screen and (max-width: 920px) {
  #home__text--link a {
    font-size: clamp(1rem, 2vw, 1.4rem);
  }
}
@media screen and (max-width: 550px) {
  #home h1 {
    font-size: 2rem;
  }
  #home h2 {
    font-size: 1.5rem;
  }
  #home h3 {
    font-size: 1.3rem;
  }
  #home a {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }
  #mobileNav,
#mobileNav a {
    color: #efefef;
    text-align: center;
    font-family: serenity, sans-serif;
    font-weight: 700;
    text-decoration: none;
  }
  .menuNav a {
    color: #efefef;
    font-size: 2rem;
    text-decoration: none;
    font-family: serenity, sans-serif;
    font-weight: 700;
  }
  .menuNav a li {
    margin: 1.5rem;
  }
  #contact__text--links {
    white-space: nowrap;
    font-size: clamp(1.3rem, 2vw, 1.6rem);
  }
  #footer {
    font-size: 3.5vw;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 550px) {
  body {
    margin-bottom: 10vh;
  }
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #7eaecd;
}
#contact {
  position: relative;
  display: flex;
  height: 93vh;
  background: linear-gradient(0deg, rgba(18, 37, 43, 0.9), rgba(18, 37, 43, 0.9)), url("../../assets/contact/bgMain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#contact #arrow {
  position: absolute;
  max-width: 5rem;
  top: 26%;
  right: 41.5vw;
  z-index: 1;
}
#contact__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 90%;
  padding: 5rem;
  z-index: 1;
}
#contact__text--links #or {
  width: 3rem;
  margin: 2vw 0;
}
#contact__text--links a {
  color: #efefef;
  text-decoration: none;
}
#contact__text--links a img {
  width: 1.5rem;
  margin: 0 0.2rem;
  margin-bottom: -0.1rem;
}
#contact__text--links a:hover {
  transition: ease-in 0.2s;
  filter: drop-shadow(0px 0px 5px #a1dcf0);
}
#contact__text--links span {
  margin-left: 1rem;
  background-color: #384b52;
  padding: 0.6rem;
  margin-right: 1vw;
  border-radius: 25px;
  width: 2vw;
}
#contact__text--links #imgWrap {
  display: inline-flex;
  padding: 0.6rem;
  background-color: #384b52;
  border-radius: 50%;
  width: fit-content;
  margin-right: 1vw;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
#contact__text--links #imgWrap img {
  width: 1.7vw;
  min-width: 1.5rem;
  max-width: 2rem;
  height: 1.7vw;
  min-height: 1.5rem;
  max-height: 2rem;
}
#contact__text--links #userLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0.5vw;
}
#contact__text--links #userLink #underline {
  margin-left: 1rem;
  width: 60%;
  margin: auto;
  display: block;
}
#contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(56, 75, 82, 0.8);
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
}
#contact__form--title {
  display: flex;
  margin-left: 7vw;
  justify-content: flex-start;
}
#contact__form--form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact__form--form form input {
  display: block;
  background-color: #384b52;
  border: 1px solid #12252b;
  border-bottom: 3px solid #efefef;
  width: 50%;
  border-radius: 10px 10px 5px 5px;
  margin: 2vh 0;
  padding: 0.5rem;
}
#contact__form--form form input:focus {
  outline: none;
  border-bottom: 3px solid #7eaecd;
  transition: 0.5s;
}
#contact__form--form form textarea {
  padding: 0.5rem;
  border: 1px solid #12252b;
  border-bottom: 3px solid #efefef;
  background-color: #384b52;
  height: 7vh;
  margin-top: 2vh;
  width: 50%;
  border-radius: 10px 10px 5px 5px;
}
#contact__form--form form textarea:focus {
  outline: none;
  border-bottom: 3px solid #7eaecd;
  transition: 0.5s;
}
#contact__form--form #formBtns {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh;
}
#contact__form--form #formBtns input {
  border: none;
  background-color: #12252b;
  width: 10vw;
  max-width: 100px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
#contact__form--form #formBtns input:nth-of-type(1) {
  margin-right: 2vh;
}
#contact__form--form #formBtns input:hover {
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  filter: drop-shadow(0 0 5px #a1dcf0);
}
#contact__form--form #formBtns input:active {
  transition: all 0.1s;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  filter: drop-shadow(0 0 2px #a1dcf0);
}

@media screen and (max-width: 920px) {
  #contact {
    height: 95vh;
    z-index: 0;
    flex-direction: column;
  }
  #contact #arrow {
    display: none;
  }
  #contact__text {
    height: 50%;
    padding: 2vh;
  }
  #contact__form {
    height: 50%;
    max-width: 100%;
    clip-path: none;
  }
  #contact__form--title {
    display: none;
  }
  #contact__form--form {
    width: 100%;
  }
  #contact__form--form form #formBtns input {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #contact {
    height: 87vh;
  }
  #contact__text--attention {
    margin: 0;
    padding: 0;
  }
  #contact__text--links #imgWrap {
    margin: 1.5vh 0.8rem 0.5rem 0.8rem;
  }
  #contact__text--links #imgWrap img {
    height: 7vw;
    width: 7vw;
  }
  #contact__split {
    display: none;
  }
  #contact__form {
    background-color: #384b52;
    padding: 0;
  }
  #contact__form--title {
    display: none;
  }
  #contact__form--form form input {
    margin: 1vh;
  }
  #contact__form--form textarea {
    width: 50%;
  }
}
.swal2-popup button {
  background-color: #7eaecd !important;
}
.swal2-popup button:focus {
  box-shadow: none;
}

.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #a1dcf0 !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: linear-gradient(180deg, rgba(56, 75, 82, 0.8) 8%, rgb(56, 75, 82)), url("/assets/home/homeBGimage.jpg");
  background-size: contain;
  background-repeat: none;
  overflow: hidden;
}
#home #topRight {
  position: absolute;
  top: -25%;
  right: -5%;
  height: 300px;
}
#home #bottomLeft {
  position: absolute;
  bottom: -15%;
  left: -4%;
  height: 200px;
}
#home #watermark {
  display: none;
}
#home__text {
  position: relative;
  z-index: 1;
  text-align: center;
}
#home__text span {
  margin-left: 1.5vw;
}
#home__text #topStreaks {
  position: absolute;
  top: -15%;
  right: 0%;
  z-index: 0;
}
#home__text #bottomStreaks {
  position: absolute;
  bottom: -50%;
  left: 0%;
  z-index: 0;
}
#home__text--link {
  position: absolute;
  bottom: 10px;
  right: 5vw;
  text-align: end;
  z-index: 1;
}
#home__text--link-top {
  width: 100%;
}
#home__text--link-top #rightArrow {
  width: 30%;
  margin: 0 5% 5% 0;
}
#home__text--link #underline {
  width: 20vw;
  max-width: 170px;
  height: 20px;
}

@media screen and (max-width: 920px) {
  #home__text--link {
    bottom: 20px;
    right: 40px;
  }
  #home__text--link #rightArrow {
    width: 20%;
  }
  #home__text--link #underline {
    height: 15px;
    width: 30vw;
    max-width: 140px;
  }
  #topStreaks,
#bottomStreaks,
#topRight,
#bottomLeft {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  #home {
    height: 60vh;
    padding: 0 5vw;
  }
  #home h1 {
    margin-top: 2vh;
  }
  #home span {
    display: block;
  }
  #home__text--link {
    bottom: 1vh;
    right: 3vw;
  }
  #home #topRight,
#home #bottomLeft {
    display: none;
  }
  #home #watermark {
    display: flex;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 25vw;
  }
}
@media screen and (max-height: 750px) {
  #home #rightArrow {
    display: none;
  }
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding-top: 5vh;
  background-color: #384b52;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 30vh;
}

#navbar {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  background-color: #efefef;
  z-index: 1;
}
#navbar__img img {
  display: flex;
  height: 4vh;
}
#navbar__links ul {
  display: inline-flex;
}
#navbar__links ul a {
  margin: 0 3vw;
}
#navbar__links ul a:hover {
  color: #12252b;
  text-shadow: 1px 1px 5px #7eaecd;
}
#navbar__links ul a li {
  list-style-type: none;
}

.navbar__scroll {
  position: sticky;
  position: -webkit-sticky;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  #navbar {
    display: none;
  }
  .section {
    height: 100vh !important;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  background-color: #efefef;
}

#mobileNav,
#sideMenu {
  display: none;
}

@media screen and (max-width: 550px) {
  #mobileNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #12252b;
    z-index: 9999;
  }
  #mobileNav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }
  #mobileNav ul li span {
    display: block;
  }
  #sideMenu {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
  }
  #sideMenu ul {
    flex: 2;
    list-style-type: none;
  }
  #sideMenu__contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  #sideMenu__contact img {
    margin: auto;
    width: 70%;
    height: 20%;
  }
  #sideMenu__contact--links {
    display: flex;
    justify-content: space-evenly;
  }
  #sideMenu__contact--links a {
    font-size: 1.7rem;
  }
  #sideMenu__contact--links a img {
    width: 130%;
  }
  .menuNav {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    background: #12252b;
    border-left: none;
    width: 70%;
    right: 0;
    bottom: 0;
    height: 90vh;
    overflow: hidden;
    max-width: 290px;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s;
  }
  .menuNav.showMenu {
    border-left: 4px solid #7eaecd;
    opacity: 1;
  }
}
#sidebar {
  position: fixed;
  top: -20vh;
  left: 20px;
  text-align: center;
}
#sidebar__links ul {
  list-style-type: none;
}
#sidebar__links ul #line {
  width: 3px;
  margin-bottom: 1rem;
}
#sidebar__links ul a {
  display: block;
  margin-bottom: 1vh;
}

@media screen and (max-width: 919px) {
  #sidebar {
    display: none;
  }
}
