body {
  font-family: serenity, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#home__text h1, #home__text h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  color: #12252b;
  text-shadow: -1px 1px 2px #a1dcf0, 1px 1px 2px #a1dcf0, 1px -1px 0 #a1dcf0, -1px -1px 0 #a1dcf0;
}
#home__text h1 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 1px #a1dcf0;
}
#home__text h2 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.1px #a1dcf0;
}
#home__text h3 {
  color: #efefef;
  font-family: serenity, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
#home__text--link a {
  font-size: 1.5rem;
  color: #efefef;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  transition: ease-in 0.3s;
  text-shadow: -1px 1px 2px #a1dcf0, 1px 1px 2px #a1dcf0, 1px -1px 0 #a1dcf0, -1px -1px 0 #a1dcf0;
}
#home__text--link a:hover {
  color: #12252b;
}

#navbar__links a {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  text-decoration: none;
  color: #384b52;
}

#sidebar__links a {
  font-size: 2.5vh;
  color: #efefef;
}
#sidebar__links a:hover {
  transition: all ease-in 0.2s;
  filter: drop-shadow(1px 1px 5px #a1dcf0);
}
#sidebar__links a img {
  height: 2.5vh;
}
#sidebar__links a img:hover {
  transition: all ease-in 0.2s;
  filter: drop-shadow(1px 1px 5px #a1dcf0);
}

#contact {
  color: #efefef;
}
#contact__text--attention h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 60px);
  letter-spacing: -0.2rem;
  margin-bottom: 0.5rem;
}
#contact__text--group-info h3 {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 3vw, 45px);
  letter-spacing: 0.2rem;
  word-wrap: nowrap;
}
#contact__text--group-info ul {
  margin-left: 2vw;
  margin-top: 1rem;
}
#contact__text--group-info ul li {
  letter-spacing: 0.15rem;
  font-size: clamp(18px, 2.5vw, 24px);
  margin-bottom: 0.3rem;
}
#contact__text--group-info ul li::marker {
  line-height: 2px;
  color: #a1dcf0;
}
#contact__text--group-info ul li:nth-of-type(2n)::marker {
  color: #efefef;
}
#contact__text--group-links ul {
  list-style-type: none;
}
#contact__text--group-links ul a {
  font-size: 3vh;
  color: #efefef;
}
#contact__form--title {
  font-family: serenity, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
#contact__form form {
  caret-color: #efefef;
}
#contact__form form input {
  font-family: serenity, sans-serif;
  font-size: 1.2rem;
  color: #efefef;
}
#contact__form form input::placeholder {
  color: #a1dcf0;
}
#contact__form form textarea {
  color: #efefef;
}
#contact__form form textarea::placeholder {
  color: #a1dcf0;
}
#contact__form form #formBtns input {
  font-size: clamp(12px, 1.5vw, 22px);
  font-family: serenity, sans-serif;
  font-weight: 300;
  color: #7eaecd;
}

#footer {
  font-family: serenity, sans-serif;
  font-weight: 700;
  color: #12252b;
}

@media screen and (max-width: 550px) {
  #home h1 {
    font-size: 2rem;
  }
  #home h2 {
    font-size: 1.5rem;
  }
  #home h3 {
    font-size: 1.3rem;
  }
  #home a {
    font-size: 1.4rem;
  }
  #contact__form {
    padding: 0;
  }
  #contact__form--title {
    display: none;
  }
  #contact__form--form textarea {
    width: 100%;
  }
  #footer {
    font-size: 4vw;
  }
}
@media screen and (max-width: 550px) {
  #contact__text--list h3 {
    font-size: clamp(15px, 3vh, 20px);
  }
  #contact__text--list ul li {
    font-size: 2.5vh;
  }
  #contact__form--form form #formBtns input {
    font-size: 2vh;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #384b52;
}
#contact {
  position: relative;
  display: flex;
  height: 90vh;
  background: linear-gradient(0deg, rgba(18, 37, 43, 0.9), rgba(18, 37, 43, 0.9)), url("../../assets/contact/bgMain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#contact__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 5rem;
  z-index: 1;
}
#contact__text--group {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
#contact__text--group-links {
  word-wrap: nowrap;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}
#contact__text--group-links #or {
  width: 3rem;
  margin: 1.5rem 0;
}
#contact__text--group-links a {
  color: #efefef;
  text-decoration: none;
}
#contact__text--group-links a img {
  width: 1.5rem;
  margin: 0 0.2rem;
  margin-bottom: -0.1rem;
}
#contact__text--group-links a:hover {
  transition: ease-in 0.2s;
  filter: drop-shadow(0px 0px 5px #a1dcf0);
}
#contact__text--group-links span {
  margin-left: 1rem;
  background-color: #384b52;
  padding: 0.6rem;
  margin-right: 1vw;
  border-radius: 25px;
  width: 2vw;
}
#contact__text--group-links #imgWrap {
  display: inline-flex;
  padding: 0.6rem;
  background-color: #384b52;
  border-radius: 50%;
  width: fit-content;
  margin-right: 1vw;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
#contact__text--group-links #imgWrap img {
  width: 1.7vw;
  min-width: 1.5rem;
  max-width: 2rem;
  height: 1.7vw;
  min-height: 1.5rem;
  max-height: 2rem;
}
#contact__text--group-links #userLink {
  display: block;
  text-align: center;
}
#contact__text--group-links #userLink #underline {
  margin-left: 1rem;
  width: 60%;
  margin: auto;
  display: block;
}
#contact__form {
  background-color: rgba(56, 75, 82, 0.7);
  width: 45vw;
  max-width: 700px;
  padding: 5rem;
  padding-left: 9rem;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
}
#contact__form--title {
  margin-top: 3vh;
  display: flex;
}
#contact__form--title img {
  margin: 30px 30px 0 -115px;
}
#contact__form--form form input {
  display: block;
  background-color: transparent;
  border: 1px solid #12252b;
  border-bottom: 3px solid #efefef;
  width: 100%;
  margin: 5vh 0;
  padding: 0.5rem;
}
#contact__form--form form input:focus {
  outline: none;
  border-bottom: 3px solid #7eaecd;
  transition: 0.5s;
}
#contact__form--form form textarea {
  padding: 0.5rem;
  border: 1px solid #12252b;
  border-bottom: 3px solid #efefef;
  background-color: transparent;
  height: 7vh;
  width: 100%;
  border-radius: 5px;
}
#contact__form--form form textarea:focus {
  outline: none;
  border-bottom: 3px solid #7eaecd;
  transition: 0.5s;
}
#contact__form--form #formBtns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}
#contact__form--form #formBtns input {
  border: none;
  background-color: #12252b;
  width: 10vw;
  max-width: 100px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
#contact__form--form #formBtns input:hover {
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(-2px);
  filter: drop-shadow(0 0 5px #a1dcf0);
}
#contact__form--form #formBtns input:active {
  transition: all 0.1s;
  transform: translateY(-1px);
  filter: drop-shadow(0 0 2px #a1dcf0);
}
#contact__form #arrow {
  margin-right: -0.05vw;
  width: 5vw;
  position: relative;
}

@media screen and (max-width: 919px) {
  #contact {
    height: 95vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
  }
  #contact__text {
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;
    margin-top: 2vh;
  }
  #contact__text--group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #contact__text--group-info ul li {
    margin-left: 3rem;
  }
  #contact__text--group-links {
    margin: 0;
  }
  #contact__form {
    display: flex;
    height: 50%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    clip-path: none;
  }
  #contact__form--title {
    display: none;
  }
  #contact__form--form {
    width: 80%;
    margin: auto;
  }
  #contact__form--form form input {
    margin: 2vh 0;
    padding-right: 0;
  }
  #contact__form--form form #formBtns input {
    width: 25%;
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  #contact__text--attention {
    margin: 0;
  }
  #contact__text--group {
    flex-direction: column;
  }
  #contact__text--group-info h3 {
    margin-left: -2rem;
  }
  #contact__text--group-info ul {
    display: flex;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
  #contact__text--group-info ul li {
    margin: 0 1rem;
  }
  #contact__text--group-links {
    margin-top: 1rem;
  }
  #contact__text--group-links #imgWrap {
    margin: 1rem 0.8rem 0.5rem 0.8rem;
  }
  #contact__text--group-links #imgWrap img {
    height: 5vw;
    width: 5vw;
  }
  #contact__text--group-links #or {
    display: none;
  }
  #contact__text--group-links #underline {
    position: absolute;
    margin: auto;
    top: 50%;
  }
}
.swal2-popup h2 {
  color: #12252b;
}
.swal2-popup button {
  font-family: serenity, sans-serif;
  font-weight: 700;
  background-color: #7eaecd !important;
}
.swal2-popup button:focus {
  box-shadow: none;
}

.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #a1dcf0 !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background: linear-gradient(0deg, rgba(56, 75, 82, 0.9), rgba(56, 75, 82, 0.9)), url("/assets/home/homeBGimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  overflow: hidden;
}
#home #topRight {
  position: absolute;
  top: -25%;
  right: -5%;
  height: 40vw;
  max-height: 500px;
  min-height: 400px;
}
#home #bottomLeft {
  position: absolute;
  bottom: -15%;
  left: -4%;
}
#home #logoDark {
  display: none;
}
#home__text {
  position: relative;
  z-index: 1;
  text-align: center;
}
#home__text span {
  margin-left: 1.5vw;
}
#home__text h3 {
  margin: 1.8rem auto;
  text-shadow: 1px 2px 3px #7eaecd;
}
#home__text #topStreaks {
  position: absolute;
  top: -15%;
  right: 0%;
  z-index: 0;
}
#home__text #bottomStreaks {
  position: absolute;
  bottom: -50%;
  left: 0%;
  z-index: 0;
}
#home__text--link {
  position: absolute;
  bottom: 50px;
  right: 10%;
  text-align: end;
}
#home__text--link-top {
  width: 100%;
}
#home__text--link-top #rightArrow {
  width: 30%;
  margin: 0 5% 5% 0;
}
#home__text--link #underline {
  margin-top: 10px;
  width: 50%;
}

@media screen and (max-width: 834px) {
  #topStreaks,
#bottomStreaks {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  #home {
    padding: 0 5vw;
  }
  #home h1 {
    margin-top: 2vh;
  }
  #home span {
    display: block;
  }
  #home__text--link {
    bottom: 3vh;
    right: 3vw;
  }
  #topRight,
#bottomLeft {
    display: none;
  }
  #home #logoDark {
    display: flex;
    margin: auto;
    position: absolute;
    top: 8vh;
  }
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding-top: 5vh;
  background-color: #7eaecd;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 30vh;
}

#navbar {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  background-color: #efefef;
}
#navbar__img img {
  display: flex;
  height: 4vh;
}
#navbar__links ul {
  display: inline-flex;
}
#navbar__links ul a {
  margin: 0 3vw;
}
#navbar__links ul a:hover {
  color: #12252b;
  text-shadow: 1px 1px 5px #7eaecd;
}
#navbar__links ul a li {
  list-style-type: none;
}

.navbar__scroll {
  position: sticky;
  position: -webkit-sticky;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  #navbar {
    display: none;
  }
  .section {
    height: 100vh !important;
  }
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #efefef;
}

#mobileNav {
  display: none;
}

@media screen and (max-width: 550px) {
  #mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 2%;
    right: 5%;
    overflow: hidden;
    font-size: 4vh;
    width: 2rem;
    height: 2rem;
    color: #a1dcf0;
    background-color: #384b52;
  }
  #mobileNav__open {
    display: none;
  }
}
#sidebar {
  position: fixed;
  top: -20vh;
  left: 81px;
  text-align: center;
}
#sidebar__links ul {
  list-style-type: none;
}
#sidebar__links ul #line {
  width: 3px;
  margin-bottom: 1rem;
}
#sidebar__links ul a {
  display: block;
  margin-bottom: 1vh;
}

@media screen and (max-width: 919px) {
  #sidebar {
    display: none;
  }
}
