#loadingScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 174, 205);
    background: linear-gradient(
            180deg,
            rgb(239, 239, 239, 0.7) 8%,
            rgb(239, 239, 239, 0.8)
        ),
        url("/assets/home/homeBGimage.jpg");

    background-size: cover;
    background-repeat: none;
}
body {
    margin: 0;
}
