#navbar {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem 0 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color-white;
    // backdrop-filter: blur(5px);
    z-index: 10;
    &__img {
        & a {
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            color: $color-white;
        }

        & img {
            margin-left: 0.5rem;
            display: flex;
            height: 2vh;
        }
    }
    &__links {
        & ul {
            display: inline-flex;
            & a {
                margin: 0 2vw;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
                &:hover {
                    transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                }
                & li {
                    list-style-type: none;
                }
            }
        }
    }
}

.active {
    animation: underline;
    animation-duration: 0.5s;
    transition: underline 0.5s;
    border-bottom: 2px solid $color-blue;
    -webkit-animation: underline 1s;
    -webkit-transition: underline 0.5s;
    -moz-transition: underline 0.5s;
    -ms-transition: underline 0.5s;
    -o-transition: underline 0.5s;
}

@keyframes underline {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 550px) and (orientation: portrait) {
    #navbar {
        display: none;
    }
}

@media screen and (max-height: 550px) and (orientation: landscape) {
    #navbar {
        display: none;
    }
}
