body {
    font-family: $font-serenity;
    font-weight: $font-serenity-normal;
    font-size: 16px;
}
#home__intro--text {
    & h1,
    & h2 {
        font-family: $font-proxima;
        color: $color-white;
    }
    & h1 {
        font-size: clamp(2.5rem, 4vw, 4rem);
        line-height: 3rem;
        letter-spacing: 0.5rem;
        color: $color-blue;
        font-weight: $font-proxima-bold;
    }
    & h2 {
        margin-top: 2vh;
        font-size: clamp(2rem, 3vw, 3rem);
        letter-spacing: 0.2rem;
        line-height: 3rem;
        font-weight: $font-proxima-normal;
    }

    & h3 {
        color: $color-light-blue;
        font-family: $font-proxima;
        font-size: clamp(1.5rem, 2vw, 2rem);
        letter-spacing: 0.2rem;
        line-height: 2rem;
        font-weight: $font-proxima-normal;
    }

    & a {
        font-size: 1.5rem;
        color: $color-black;
        text-decoration: none;
        font-family: $font-proxima;
        font-weight: $font-proxima-bold;
        letter-spacing: 3px;
        transition: ease-in 0.3s;
        text-shadow: -1px 1px 2px $color-white, 1px 1px 2px $color-white,
            1px -1px 0 $color-white, -1px -1px 0 $color-white;
        &:hover {
            color: $color-gray;
            text-shadow: -1px 1px 2px $color-white, 1px 1px 2px $color-white,
                1px -1px 0 $color-white, -1px -1px 0 $color-white;
        }
    }
}

#navbar {
    &__img--name h1 {
        font-family: $font-serenity;
        font-weight: 400;
        font-weight: 500;
        letter-spacing: 0.15rem;
    }
    &__links {
        & a {
            font-family: $font-serenity;
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: -0.5px;
            text-decoration: none;
            color: $color-black;
            &:hover {
                color: $color-blue;
            }
        }
    }
}

#overlay {
    &__featuredProject {
        &--homeLink {
            font-size: 1.5rem;
        }
        &--text {
            & h3,
            h5 {
                letter-spacing: 0.1rem;
                font-family: $font-serenity;
                backdrop-filter: blur(3px);
                user-select: none;
            }
            & h3 {
                font-size: clamp(1.5rem, 4.5vw, 3rem);
                white-space: nowrap;
                font-weight: $font-serenity-bold;
            }
            & h5 {
                font-size: clamp(1rem, 3vw, 2rem);
                font-weight: $font-serenity-normal;
            }
        }
    }
    &__contactInfo {
        font-size: clamp(1.2rem, 1.5vw, 2rem);
    }
    &__links {
        & ul a {
            font-size: clamp(3rem, 7vw, 3.5rem);
            font-weight: $font-serenity-bold;
        }
    }
}

#projects {
    & h1 {
        left: 2%;
        top: -2%;
        position: absolute;
        font-size: clamp(2rem, 15vw, 12rem);
        z-index: 1;
        font-family: $font-proxima;
        color: rgba(18, 37, 43, 0.3);
        user-select: none;
        -webkit-touch-callout: none;
    }
    & h3 {
        color: $color-white;
        display: flex;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        & a {
            color: $color-blue;
            margin-left: 1rem;
            text-decoration: none;
            overflow: hidden;
            width: 100px;
            display: inline-block;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            &::before {
                content: "";
                display: block;
                position: relative;
                width: 100%;
                left: -100%;
                border-top: 1px solid $color-white;
                transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
            }
            &::after {
                content: "";
                display: block;
                position: relative;
                width: 100%;
                border-bottom: 1px solid $color-white;
                right: -101%;
                transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
            }
            &:hover {
                color: $color-light-blue;

                &::before {
                    transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    -moz-transform: translateX(100%);
                    -ms-transform: translateX(100%);
                    -o-transform: translateX(100%);
                }
                &::after {
                    transform: translateX(-101%);
                    -webkit-transform: translateX(-101%);
                    -moz-transform: translateX(-101%);
                    -ms-transform: translateX(-101%);
                    -o-transform: translateX(-101%);
                }
            }
        }
    }
}

#projectSwiper__carousel--content-right {
    & h2 {
        font-size: clamp(1.2rem, 5vw, 2.5rem);
        color: $color-white;
    }
    & p {
        font-size: clamp(1rem, 1vw, 1.3rem);
        color: $color-white;
        text-indent: 1rem;
    }
    & ul {
        text-indent: 0;
        & li {
            color: $color-gray;
            font-size: 0.8rem;
            font-weight: $font-serenity-bold;
        }
    }
    &-links a {
        color: $color-blue;
        font-weight: $font-serenity-bold;
        text-decoration: none;
        &:hover {
            color: $color-light-blue;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
        }
    }
}

#about {
    &__top {
        &--text {
            & h2 {
                line-height: 2.5rem;
                font-family: $font-serenity;
                font-weight: $font-serenity-bold;
                font-size: clamp(1.4rem, 3vw, 3rem);
            }
            & h3 {
                line-height: 2rem;
                font-size: clamp(1rem, 2vw, 1.3rem);
                font-style: italic;
                font-family: $font-serenity;
                font-weight: $font-serenity-normal;
            }
            & h5 {
                font-size: clamp(0.9rem, 1.7vw, 1.1rem);
            }
            & p {
                font-size: clamp(0.7rem, 1.5vw, 1rem);
                color: $color-black;
            }
        }
    }
    &__bottom {
        position: relative;
        & h2 {
            color: $color-white;
            font-size: 3.5vh;
            position: absolute;
            transform: rotate(-8deg);
            top: 30%;
        }

        & .tooltip::after {
            font-size: 1.4vh;
            color: $color-white;
            font-weight: $font-serenity-bold;
            letter-spacing: 0.1rem;
        }
    }
}

#contact {
    color: $color-white;

    &__text {
        &--attention {
            & h2 {
                font-family: $font-proxima;
                font-weight: $font-proxima-bold;
                font-size: clamp(32px, 5vw, 60px);
                letter-spacing: -0.2rem;
                margin-bottom: 0.5rem;
            }
        }
        &--links {
            font-size: clamp(20px, 2vw, 24px);
            & a {
                text-decoration: none;
                color: $color-white;
            }
        }
    }
    &__form {
        &--title {
            font-family: $font-serenity;
            font-weight: $font-serenity-bold;
            font-size: clamp(1rem, 2vw, 1.5rem);
            letter-spacing: 0.1rem;
            white-space: nowrap;
        }
        & form {
            caret-color: $color-white;
            & input {
                font-family: $font-serenity;
                font-size: 1rem;
                color: $color-white;
                &::placeholder {
                    color: $color-light-blue;
                }
            }
            & textarea {
                font-family: $font-serenity;
                font-size: 1rem;
                color: $color-white;
                &::placeholder {
                    color: $color-light-blue;
                }
            }
            & #formBtns input {
                font-size: clamp(1rem, 1.5vw, 1.2rem);
                font-family: $font-serenity;
                font-weight: $font-serenity-bold;
                color: $color-gray;
            }
        }
    }
    // Sweetalert popup
    .swal2 {
        &-popup h2 {
            color: $color-black;
        }
        &-popup button {
            font-family: $font-serenity;
            font-weight: $font-serenity-bold;
            background-color: $color-blue !important;
        }
    }
}

#footer {
    font-family: $font-serenity;
    font-weight: $font-serenity-bold;
    color: $color-black;
}

@media screen and (max-width: 950px) {
    #home {
        &__intro--text-link a {
            font-size: clamp(1rem, 2vw, 1.4rem);
        }
    }
    #navbar__links a {
        font-size: 3vw;
    }
    #projects h1 {
        font-size: clamp(6rem, 12vw, 12rem);
    }
}

@media screen and (max-width: 550px) and (orientation: portrait) {
    #home {
        & h1 {
            font-size: 2rem;
        }
        & h2 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        & h3 {
            font-size: 1.3rem;
        }
        & a {
            font-size: clamp(0.8rem, 2vw, 1.2rem);
        }
    }

    #mobileNav,
    #mobileNav a {
        text-align: center;
        color: $color-black;
        font-family: $font-serenity;
        font-weight: $font-serenity-bold;
        text-decoration: none;
    }

    #sideMenu a {
        text-align: left;
        color: $color-white;
        font-size: 1.8rem;
        text-decoration: none;
        font-family: $font-serenity;
        font-weight: $font-serenity-bold;
        & li {
            margin: 1.5rem;
        }
    }

    #skillsMobile {
        color: $color-white;
        & #closeSkills {
            color: $color-white;
            font-size: 2rem;
        }
        &__content--tools-title h2 {
            color: $color-white;
        }
    }
    #projects h1 {
        display: none;
    }

    #about {
        &__top {
            padding: 0 5vw;
        }
    }

    #contact {
        &__text {
            &--links {
                white-space: nowrap;
                font-size: clamp(1.3rem, 2vw, 1.6rem);
                & a {
                    font-size: 1.9rem;
                }
            }
        }
    }

    #footer {
        font-size: 2.5vw;
    }
}

// LANDSCAPE
@media screen and (max-height: 550px) and (orientation: landscape) {
    #home {
        & h1 {
            font-size: clamp(1.7rem, 3vw, 2.5rem);
        }
        & h2 {
            // margin-top: 2vh;
            font-size: clamp(1.3rem, 2.5vw, 2rem);
        }

        & h3 {
            font-size: clamp(0.8rem, 1vh, 1.5rem);
        }

        & a {
            font-size: 1rem;
        }
    }

    #projectSwiper__carousel--content-right {
        & h2 {
            font-size: clamp(1rem, 4.5vw, 2.5rem);
        }
        & p {
            font-size: clamp(0.8rem, 1vw, 1.3rem);
        }
        & ul {
            & li {
                font-size: 0.8rem;
            }
        }
    }

    #about {
        &__top {
            &--text {
                & h2 {
                    font-size: clamp(1.4rem, 2vw, 3rem);
                    line-height: 3vw;
                }
                & h3 {
                    font-size: clamp(1rem, 1.75vw, 1.3rem);
                    line-height: 2.5vw;
                }
                & h5 {
                    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
                }
                & ul li {
                    font-size: clamp(0.7rem, 1vw, 1rem);
                }
                & p {
                    font-size: clamp(0.7rem, 1vw, 1rem);
                }
            }
        }
        &__bottom {
            & h2 {
                font-size: 3.5vh;
            }

            & .tooltip::after {
                font-size: 1.4vh;
            }
        }
    }
}
